mat-sidenav-container {
  height: 100vh;
  background-color: #fafafa; 
}

mat-sidenav {
    width: 200px;
    background-color: #f0f0f0;
    padding: 16px;
    border-right: 1px solid #e0e0e0;
}

.mat-drawer-content {
    padding: 20px;
    overflow: auto;
    height: 100%;
}
